workflows/ideaAgent.json
{
  "name": "My workflow 3",
  "nodes": [
    {
      "parameters": {},
      "name": "Daily Trigger",
      "type": "n8n-nodes-base.cron",
      "typeVersion": 1,
      "position": [
        -768,
        48
      ],
      "id": "7c142e1b-6c93-4282-92fd-934bee69f21c"
    },
    {
      "parameters": {
        "url": "https://newsapi.org/v2/everything",
        "options": {},
        "queryParametersUi": {
          "parameter": [
            {
              "name": "q",
              "value": "startup OR business ideas OR technology trends"
            },
            {
              "name": "language",
              "value": "en"
            },
            {
              "name": "sortBy",
              "value": "publishedAt"
            },
            {
              "name": "pageSize",
              "value": "5"
            },
            {
              "name": "apiKey",
              "value": "a9b7a3299d9a41c2b1f60c2bd7d9b4f5"
            }
          ]
        }
      },
      "name": "Fetch Global Business News",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 2,
      "position": [
        -512,
        48
      ],
      "id": "412c8759-fdf8-44e0-b458-734126da6ce5"
    },
    {
      "parameters": {
        "functionCode": "return items[0].json.articles.map(a => {\n  return {\n    json: {\n      title: a.title,\n      url: a.url,\n      source: a.source.name\n    }\n  };\n});"
      },
      "name": "Extract Titles",
      "type": "n8n-nodes-base.function",
      "typeVersion": 1,
      "position": [
        -256,
        48
      ],
      "id": "29929bc0-df56-4109-b6a5-49a394db5db9"
    },
    {
      "parameters": {
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "googlePalmApi",
        "requestMethod": "POST",
        "url": "https://generativelanguage.googleapis.com/v1beta/models/gemini-2.5-flash:generateContent",
        "jsonParameters": true,
        "options": {},
        "bodyParametersJson": "={\n  \"contents\": [\n    {\n      \"parts\": [\n        {\n          \"text\": \"You are an AI business analyst. For the given business opportunity title, return ONLY a valid JSON object with:\\n- sector: string\\n- mpfit: integer (0-10)\\n- risk: integer (0-10, lower is better)\\n- earning: integer (0-10)\\n- firststeps: array of exactly 2 short strings (first practical steps to start)\\n- why: short reason why this idea fits Madhya Pradesh's economy and my AI/software development background\\n\\nThe title is: {{$json[\"title\"]}}\"\n        }\n      ],\n      \"role\": \"user\"\n    }\n  ]\n}\n",
        "headerParametersJson": "{\n  \"Content-Type\": \"application/json\"\n}\n",
        "queryParametersJson": "={\n  \"key\": \"={{$credentials.accessToken}}\"\n}"
      },
      "name": "Gemini Classify & Score",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 2,
      "position": [
        -48,
        48
      ],
      "id": "af145d12-7008-4cab-a683-334ee5e01535",
      "credentials": {
        "httpBasicAuth": {
          "id": null,
          "name": "YOUR_GEMINI_CREDENTIAL_NAME"
        },
        "googlePalmApi": {
          "id": "JNMTUjCmyjfMB0z6",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    },
    {
      "parameters": {
        "functionCode": "return items.map(item => {\n  // Extract the raw text from Gemini\n  let rawText = item.json.candidates[0].content.parts[0].text;\n\n  // Remove the ```json and ``` backticks\n  rawText = rawText.replace(/```json\\s*|```/g, '').trim();\n\n  // Parse JSON safely\n  const parsed = JSON.parse(rawText);\n\n  // Calculate composite score\n  const composite = (0.4 * parsed.mpfit) + (0.35 * parsed.earning) - (0.25 * parsed.risk);\n\n  return {\n    json: {\n      title: item.json.title,\n      url: item.json.url,\n      source: item.json.source,\n      sector: parsed.sector,\n      mpfit: parsed.mpfit,\n      risk: parsed.risk,\n      earning: parsed.earning,\n      firststeps: parsed.firststeps,\n      why: parsed.why,\n      composite: composite.toFixed(2)\n    }\n  };\n});\n"
      },
      "name": "Calculate Composite Score",
      "type": "n8n-nodes-base.function",
      "typeVersion": 1,
      "position": [
        144,
        48
      ],
      "id": "b0e6b53c-22fe-4a62-979b-5af38c857400"
    },
    {
      "parameters": {
        "jsCode": "return [\n  {\n    json: {\n      message: items.map((item,index) => \n        `Top Business Idea: ${index +1}\nSector: ${item.json.sector}\nScore: ${item.json.composite}\nFirst Steps: ${item.json.firststeps.join(\", \")}\nWhy: ${item.json.why}`\n      ).join(\"\\n\\n\") // separates each idea with a blank line\n    }\n  }\n];\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        352,
        48
      ],
      "id": "921b125b-c62a-43f2-9028-0fd2ecacfae7",
      "name": "Code"
    },
    {
      "parameters": {
        "chatId": "-1002779485370",
        "text": "={{ $json['result'].text }}",
        "additionalFields": {}
      },
      "name": "Telegram Channel",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1,
      "position": [
        736,
        48
      ],
      "id": "3642379e-a5fe-4ee1-81c7-a9b5b4fec267",
      "webhookId": "713997be-5cdd-4c24-983c-76bd36b50dfc",
      "credentials": {
        "telegramApi": {
          "id": "4qx6QVqfvglVib4Q",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "chatId": "1083362956",
        "text": "={{$json[\"message\"]}}",
        "additionalFields": {}
      },
      "name": "Telegram Bot",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1,
      "position": [
        544,
        48
      ],
      "id": "b52043e2-a78a-4244-8c1d-b597d212b591",
      "webhookId": "713997be-5cdd-4c24-983c-76bd36b50dfc",
      "credentials": {
        "telegramApi": {
          "id": "4qx6QVqfvglVib4Q",
          "name": "Telegram account"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Daily Trigger": {
      "main": [
        [
          {
            "node": "Fetch Global Business News",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fetch Global Business News": {
      "main": [
        [
          {
            "node": "Extract Titles",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract Titles": {
      "main": [
        [
          {
            "node": "Gemini Classify & Score",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Gemini Classify & Score": {
      "main": [
        [
          {
            "node": "Calculate Composite Score",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Calculate Composite Score": {
      "main": [
        [
          {
            "node": "Code",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code": {
      "main": [
        [
          {
            "node": "Telegram Bot",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Telegram Bot": {
      "main": [
        [
          {
            "node": "Telegram Channel",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "907e22be-8819-4a2e-b1b8-03ff97639925",
  "meta": {
    "instanceId": "42fb24fa3c07f4bfcb952e66be876d526b120116ab7d66977bc947af96b7e506"
  },
  "id": "LbJq4AyYGxjrdiLz",
  "tags": []
}